



.checklist-row {
    border-bottom: 1px solid #dfdfdf;
}

.checklist-row:hover {
    background-color: #f2f2f276;
}

.incomplete-tag {

}

.incomplete-tag:hover {
    cursor: pointer;
}

.complete-tag {

}

.in-progress-tag {

}