

.year-view-wrapper {
    padding: 20px;
}

.month-view-wrapper {
    padding: 20px;
}

.week-view-wrapper {
    padding: 20px;
}

.year-view {
    border: 1px solid #ccc;

}

.month-view {
    border: 1px solid #ccc;

}

.week-view {
    border: 1px solid #ccc;
}

.week-view-body {
    width: 100%;
    display: flex;
}

.year-view-row { 
    width: 100%;
    display: flex;
}

.month-cell {
    border: 1px solid #ccc;
    width:100%;
    height:100px
}

.month-cell:hover {
    cursor: pointer;
    background-color: #f1f1f1ca;
}

.day-cell {
    min-height: 90px;
    max-height: 90px;
    height: 90px;
    overflow-y: auto;
    scrollbar-width: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.day-cell:hover {
    cursor: pointer;
    background-color: #f1f1f1ca;
}

.active-monthly-day-cell {
    background-color: #d0fbffca;
}

.event-chip-wrapper {
   
    padding: 1px 5px;
}

.event-chip {
    border: 1px solid #f1f1f1;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
}

.birthday-chip {
    border: 1px solid #fadf55;
    border-radius: 3px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #948300;
    background-color: #fff19fa2;
    padding-left: 5px;

}

.meeting-chip {
    border: 1px solid #ff5252a2;
    border-radius: 3px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #c10202;
    background-color: #fa444430;
    padding-left: 5px;
}

.work-chip {
    border: 1px solid #5289ffa2;
    border-radius: 3px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #024ec1;
    background-color: #44c9fa30;
    padding-left: 5px;
}

.general-chip {
    border: 1px solid #5289ffa2;
    border-radius: 3px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #024ec1;
    background-color: #44c9fa30;
    padding-left: 5px;
}


.project-chip {
    border: 1px solid #939afba2;
    border-radius: 3px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #4927af;
    background-color: #a083f81c;
    padding-left: 5px;
}