


.event-menu {
    border: 1px solid #dfdfdf;
}

.evt-category-menu-item {

}

.evt-category-menu-item:hover {
    cursor: pointer;
    background-color: #efefefa1;
}

.evt-row {
    margin-left: 2em;
    margin-right: 1em;
}


.evt-row:hover {
    cursor: pointer;
    background-color: #efefefa1;
}