


.form-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    align-items: center;
}

.submit-btn {
    width: 100%;
}

.field-label {
    font-size: 12px;
    font-weight: 700;
}

.sub-text {

}

.sub-text:hover {
    cursor: pointer;
}
