


/* Margin */

.m-auto {
    margin: auto;
}

.vm-auto {
    margin: auto 0px;
}

.m-0 {
    margin: 0rem;
}
.m-1 {
    margin: 0.5rem;
}
.m-2 {
    margin: 1rem;
}
.m-3 {
    margin: 1.5rem;
}
.m-4 {
    margin: 2rem;
}
.m-5 {
    margin: 2.5rem;
}
.m-6 {
    margin: 3rem;
}
.m-7 {
    margin: 3.5rem;
}
.m-8 {
    margin: 4rem;
}
.m-9 {
    margin: 4.5rem;
}
.m-10 {
    margin: 5rem;
}


/* padding */
.p-0 {
    padding: 0rem;
}
.p-1 {
    padding: 0.5rem;
}
.p-2 {
    padding: 1rem;
}
.p-3 {
    padding: 1.5rem;
}
.p-4 {
    padding: 2rem;
}
.p-5 {
    padding: 2.5rem;
}
.p-6 {
    padding: 3rem;
}
.p-7 {
    padding: 3.5rem;
}
.p-8 {
    padding: 4rem;
}
.p-9 {
    padding: 4.5rem;
}
.p-10 {
    padding: 5rem;
}


/* Margin Top */
.mt-0 {
    margin-top: 0rem;
}
.mt-1 {
    margin-top: 0.5rem;
}
.mt-2 {
    margin-top: 1rem;
}
.mt-3 {
    margin-top: 1.5rem;
}
.mt-4 {
    margin-top: 2rem;
}
.mt-5 {
    margin-top: 2.5rem;
}
.mt-6 {
    margin-top: 3rem;
}
.mt-7 {
    margin-top: 3.5rem;
}
.mt-8 {
    margin-top: 4rem;
}
.mt-9 {
    margin-top: 4.5rem;
}
.mt-10 {
    margin-top: 5rem;
}

/* Margin Bottom */
.mb-0 {
    margin-bottom: 0rem;
}
.mb-1 {
    margin-bottom: 0.5rem;
}
.mb-2 {
    margin-bottom: 1rem;
}
.mb-3 {
    margin-bottom: 1.5rem;
}
.mb-4 {
    margin-bottom: 2rem;
}
.mb-5 {
    margin-bottom: 2.5rem;
}
.mb-6 {
    margin-bottom: 3rem;
}
.mb-7 {
    margin-bottom: 3.5rem;
}
.mb-8 {
    margin-bottom: 4rem;
}
.mb-9 {
    margin-bottom: 4.5rem;
}
.mb-10 {
    margin-bottom: 5rem;
}


/* Padding Top */
.pt-0 {
    padding-top: 0rem;
}
.pt-1 {
    padding-top: 0.5rem;
}
.pt-2 {
    padding-top: 1rem;
}
.pt-3 {
    padding-top: 1.5rem;
}
.pt-4 {
    padding-top: 2rem;
}
.pt-5 {
    padding-top: 2.5rem;
}
.pt-6 {
    padding-top: 3rem;
}
.pt-7 {
    padding-top: 3.5rem;
}
.pt-8 {
    padding-top: 4rem;
}
.pt-9 {
    padding-top: 4.5rem;
}
.pt-10 {
    padding-top: 5rem;
}

/* Padding Bottom */
.pb-0 {
    padding-bottom: 0rem;
}
.pb-1 {
    padding-bottom: 0.5rem;
}
.pb-2 {
    padding-bottom: 1rem;
}
.pb-3 {
    padding-bottom: 1.5rem;
}
.pb-4 {
    padding-bottom: 2rem;
}
.pb-5 {
    padding-bottom: 2.5rem;
}
.pb-6 {
    padding-bottom: 3rem;
}
.pb-7 {
    padding-bottom: 3.5rem;
}
.pb-8 {
    padding-bottom: 4rem;
}
.pb-9 {
    padding-bottom: 4.5rem;
}
.pb-10 {
    padding-bottom: 5rem;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */





/* Margin Right */
.mr-0 {
    margin-right: 0rem;
}
.mr-1 {
    margin-right: 0.5rem;
}
.mr-2 {
    margin-right: 1rem;
}
.mr-3 {
    margin-right: 1.5rem;
}
.mr-4 {
    margin-right: 2rem;
}
.mr-5 {
    margin-right: 2.5rem;
}
.mr-6 {
    margin-right: 3rem;
}
.mr-7 {
    margin-right: 3.5rem;
}
.mr-8 {
    margin-right: 4rem;
}
.mr-9 {
    margin-right: 4.5rem;
}
.mr-10 {
    margin-right: 5rem;
}

/* Margin Left */
.ml-0 {
    margin-left: 0rem;
}
.ml-1 {
    margin-left: 0.5rem;
}
.ml-2 {
    margin-left: 1rem;
}
.ml-3 {
    margin-left: 1.5rem;
}
.ml-4 {
    margin-left: 2rem;
}
.ml-5 {
    margin-left: 2.5rem;
}
.ml-6 {
    margin-left: 3rem;
}
.ml-7 {
    margin-left: 3.5rem;
}
.ml-8 {
    margin-left: 4rem;
}
.ml-9 {
    margin-left: 4.5rem;
}
.ml-10 {
    margin-left: 5rem;
}

/* Padding Right */
.pr-0 {
    padding-right: 0rem;
}
.pr-1 {
    padding-right: 0.5rem;
}
.pr-2 {
    padding-right: 1rem;
}
.pr-3 {
    padding-right: 1.5rem;
}
.pr-4 {
    padding-right: 2rem;
}
.pr-5 {
    padding-right: 2.5rem;
}
.pr-6 {
    padding-right: 3rem;
}
.pr-7 {
    padding-right: 3.5rem;
}
.pr-8 {
    padding-right: 4rem;
}
.pr-9 {
    padding-right: 4.5rem;
}
.pr-10 {
    padding-right: 5rem;
}

/* Padding Left */
.pl-0 {
    padding-left: 0rem;
}
.pl-1 {
    padding-left: 0.5rem;
}
.pl-2 {
    padding-left: 1rem;
}
.pl-3 {
    padding-left: 1.5rem;
}
.pl-4 {
    padding-left: 2rem;
}
.pl-5 {
    padding-left: 2.5rem;
}
.pl-6 {
    padding-left: 3rem;
}
.pl-7 {
    padding-left: 3.5rem;
}
.pl-8 {
    padding-left: 4rem;
}
.pl-9 {
    padding-left: 4.5rem;
}
.pl-10 {
    padding-left: 5rem;
}

