



.task-category-menu {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
}

.category-row {
    border-bottom: 1px solid #dfdfdf;
}

.category-row:hover {
    background-color: #eeeeee67;
}

.task-row {
    
}

.task-row:hover {
    background-color: #eeeeee67;
}
