




.project-area {
    overflow: auto;
    max-height: calc(100vh - 100px);
}

.project-section {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.project-section-title {
    border-bottom: 1px solid #dfdfdf;
    font-weight: 700;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
